body{
    background-color: rgb(246, 238, 238);
}
header > p{
    text-align: center;
    font-size: 40px;
    font-family: cursive;
}
label{
    display: block;
    margin-bottom: 10px;
}
img{
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
main > form > input{
    margin-top: 10px;
}