body{
    margin: 0;
    background-image: url('../Images/table-background-i5wagxm5xfb3jszn.jpeg');
    background-size: cover;
}
table{
    border-collapse: collapse;
}
th{
    text-align: left;
}
td, th{
    padding: 5px 10px;
    border: 1px solid black;
}
header > p{
    margin: 0;
    padding: 70px;
    font-size: 30px;
    font-family: cursive;
    text-align: center;
}
footer > small > p{
    margin-top: 50px;
    text-align: center;
}