body{
    background-image: url('../Images/table-background-i5wagxm5xfb3jszn.jpeg');
    background-size: cover;
}
nav > ul > li{
    display: inline;
    margin-right: 20px;
}
nav li > a, footer a{
    text-decoration: none;
}
table{
    border-collapse: collapse;
}
td, th{
    text-align: left;
    padding: 5px 10px;
    border: 1px solid black;
}
header > p{
    margin: 0;
    padding: 70px;
    font-size: 30px;
    font-family: cursive;
    text-align: center;
}
footer > small > p{
    margin-top: 50px;
    text-align: center;
}
body > header > nav {
    background-color: black
}